.list{
    list-style: none;
    line-height: 23.5px;
    background-color: rgb(244, 219, 181);
    border: 2px solid blanchedalmond;
    color: black;
}
.list:focus{
    outline: 2px solid currentColor;
}
.list::before{
    color: blue;
}
.list::after{
    color: brown;
}
